---
layout: compress
---
<!DOCTYPE HTML>
<html>
  {% include head.html %}
  <body>
    <!-- Header -->
      <div id="header" class="alt">
        <a class="logo" href="index.html">LUXURY DESERT MOUNTAIN RENTAL</a>
        <nav id="nav">
          <ul>
            <li class="home"><a href="{{site.baseurl}}/">HOME</a></li>
            <li class="booking"><a href="{{site.baseurl}}/#booking">BOOKING</a></li>
            <li class="photos"><a href="{{site.baseurl}}/photos">PHOTOS</a></li>
            <li class="contact"><a href="{{site.baseurl}}/#contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>

      <!-- Main -->
  			<div id="main">
          {{ content }}
        </div>

      <!-- Footer -->
        <div id="footer">
          <a name="contact"></a>
          <ul class="major-icons">
            <li>
              <h3 class="icon fa-phone major"><span class="label">Phone</span></h3>
              <p>(608) 335-7747</p>
            </li>
            <li>
              <h3 class="icon fa-map major"><span class="label">Address</span></h3>
              <p>10620 Honey Mesquite Drive<br />
              Scottsdale, AZ 85260</p>
            </li>
            <li>
              <h3 class="icon fa-envelope major"><span class="label">Email</span></h3>
              <p style="font-size:0.85rem"><a href="mailto:kim.morningstarwoman@gmail.com">kim.morningstarwoman@gmail.com</a></p>
            </li>
          </ul>
          <p class="copyright">&copy; 2016 Luxury Desert Mountain Rental</p>
        </div>

      <!-- Scripts -->
        <script src="{{site.baseurl}}/lib/jquery.min.js"></script>
        <script src="{{site.baseurl}}/lib/jquery.dropotron.min.js"></script>
        <script src="{{site.baseurl}}/lib/jquery.scrollex.min.js"></script>
        <script src="{{site.baseurl}}/lib/skel.min.js"></script>
        <script src="{{site.baseurl}}/lib/pixelarity-elemental/util.js"></script>
        <!--[if lte IE 8]><script src="{{site.baseurl}}/lib/ie/respond.min.js"></script><![endif]-->
        <script src="{{site.baseurl}}/lib/pixelarity-elemental/main.js"></script>

      </body>
      </html>
